<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greyu.ysj.mapper.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="com.greyu.ysj.entity.Administrator" >
    <id column="administrator_id" property="administratorId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="super_level" property="superLevel" jdbcType="BIT" />
    <result column="phone" property="phone" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    administrator_id, user_name, pass_word, nick_name, super_level, phone
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.greyu.ysj.entity.AdministratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_administrator
    where administrator_id = #{administratorId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_administrator
    where administrator_id = #{administratorId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.greyu.ysj.entity.AdministratorExample" >
    delete from tb_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.greyu.ysj.entity.Administrator" >
    insert into tb_administrator (administrator_id, user_name, pass_word, 
      nick_name, super_level, phone
      )
    values (#{administratorId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{superLevel,jdbcType=BIT}, #{phone,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.greyu.ysj.entity.Administrator" >
    insert into tb_administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="administratorId != null" >
        administrator_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="passWord != null" >
        pass_word,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="superLevel != null" >
        super_level,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="administratorId != null" >
        #{administratorId,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="superLevel != null" >
        #{superLevel,jdbcType=BIT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.greyu.ysj.entity.AdministratorExample" resultType="java.lang.Integer" >
    select count(*) from tb_administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_administrator
    <set >
      <if test="record.administratorId != null" >
        administrator_id = #{record.administratorId,jdbcType=INTEGER},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.passWord != null" >
        pass_word = #{record.passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null" >
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.superLevel != null" >
        super_level = #{record.superLevel,jdbcType=BIT},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_administrator
    set administrator_id = #{record.administratorId,jdbcType=INTEGER},
      user_name = #{record.userName,jdbcType=VARCHAR},
      pass_word = #{record.passWord,jdbcType=VARCHAR},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      super_level = #{record.superLevel,jdbcType=BIT},
      phone = #{record.phone,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.greyu.ysj.entity.Administrator" >
    update tb_administrator
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        pass_word = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="superLevel != null" >
        super_level = #{superLevel,jdbcType=BIT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=BIGINT},
      </if>
    </set>
    where administrator_id = #{administratorId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greyu.ysj.entity.Administrator" >
    update tb_administrator
    set user_name = #{userName,jdbcType=VARCHAR},
      pass_word = #{passWord,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      super_level = #{superLevel,jdbcType=BIT},
      phone = #{phone,jdbcType=BIGINT}
    where administrator_id = #{administratorId,jdbcType=INTEGER}
  </update>
</mapper>