<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greyu.ysj.mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="com.greyu.ysj.entity.Cart" >
    <id column="cart_id" property="cartId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
  </resultMap>

  <resultMap id="CartDetailMap" type="com.greyu.ysj.entity.Cart">
    <id column="cart_id" property="cartId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <collection property="goods" ofType="com.greyu.ysj.entity.CartDetail">
      <id column="cart_detail_id" property="cartDetailId" jdbcType="BIGINT" />
      <result column="cart_id" property="cartId" jdbcType="BIGINT" />
      <result column="good_id" property="goodId" jdbcType="INTEGER" />
      <result column="count" property="count" jdbcType="INTEGER" />
    </collection>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cart_id, user_id, amount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.greyu.ysj.entity.CartExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_cart
    where cart_id = #{cartId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_cart
    where cart_id = #{cartId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.greyu.ysj.entity.CartExample" >
    delete from tb_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert"
          useGeneratedKeys="true"
          keyProperty="cartId"
          parameterType="com.greyu.ysj.entity.Cart" >
    insert into tb_cart (cart_id, user_id, amount
      )
    values (#{cartId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.greyu.ysj.entity.Cart" >
    insert into tb_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.greyu.ysj.entity.CartExample" resultType="java.lang.Integer" >
    select count(*) from tb_cart
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_cart
    <set >
      <if test="record.cartId != null" >
        cart_id = #{record.cartId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_cart
    set cart_id = #{record.cartId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.greyu.ysj.entity.Cart" >
    update tb_cart
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.greyu.ysj.entity.Cart" >
    update tb_cart
    set user_id = #{userId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DOUBLE}
    where cart_id = #{cartId,jdbcType=BIGINT}
  </update>

  <select id="getAllCart" parameterType="Integer" resultMap="CartDetailMap">
    select *
    from tb_cart a, tb_cart_detail b
    where a.cart_id = b.cart_id and a.user_id = #{userId, jdbcType=INTEGER}
  </select>
</mapper>